.our-imgs h2{
    font-size: 20px;
    font-weight: 600;
}
.our-imgs .item{
    position: relative;
    z-index: 2;
}


.our-imgs .item img{
    border: 2px solid transparent;
    transition: var(--trans);
    border-radius: 10px;
}

.our-imgs .item:hover img:hover,
.our-imgs .item.active img{
    border:2px solid var(--hover);
}
@media(max-width:767px){
    .images .item{
        text-align: center;
    }
}